<div class="card" draggable="true" id="{{cardItem.id}}">
  <div class="item">
    <span class="name" [contentEditable]="editable" [textContent]="title"
      (input)="title = $event.target.textContent"></span><br />
    <span class="description" [contentEditable]="editable" [textContent]="description"
      (input)="description = $event.target.textContent"></span>
  </div>
  <span class="action">
    <a href="#" class="edit" (click)="toggleEditMode();">E</a> |
    <a href="#" class="delete" (click)="deleteCard()">X</a>
  </span>
</div>